# Dependencies
node_modules/

# Production builds
dist/

# Local environment variables
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor and IDE files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Operating system files
.DS_Store
Thumbs.db

# TypeScript build information
*.tsbuildinfo
